.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container :global(.xterm) {
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.container :global(.xterm-viewport) {
  overflow-y: auto;
}
